{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-9">
        {% if object.author.full_name %}
            <p class="small font-italic">{{ object.author.full_name }}, {{ object.created_at }}</p>
        {% else %}
            <p class="small font-italic">{{ object.author }}, {{ object.created_at }}</p>
        {% endif %}
            <div class="row">
                <div class="col-10">
                    <h3>{{ object.title }}</h3>
                </div>
                {% if user == object.author %}
                    <div class="col-2">
                        <a href="{% url 'post-update' object.slug %}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'post-delete' object.slug %}"><i class="fa fa-trash"></i></a>
                    </div>
                {% endif %}
            </div>
            <div>
                {{ object.content | safe }}
            </div>
        </div>
        <div class="col">
        <button class="btn btn-primary" data-toggle="modal" data-target="#comment">+ Комментарий</button>
            {% if comments %}
            <div>
                {% for comment in comments %}
                    <blockquote class="blockquote">
                      <p class="mb-0 small">{{ comment.content }}</p>
                      <footer class="blockquote-footer small">by <cite title="author">{{ comment.author}}</cite>, {{ comment.created_at|date:"j M Y, H:i" }}</footer>
                    </blockquote>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Start MODAL -->
            <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="editModalForm" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form method="POST" id="edit-form">
                                {% csrf_token %}
                                {{ form.content | as_crispy_field }}
                            </form>
                            <div class="modal-footer">
                                <a class="btn btn-default" href={% url 'post-view' object.slug %}>Отменить</a>
                                <button type="submit" class="btn btn-primary" form="edit-form">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End MODAL -->
        </div>
    </div>
{% endblock %}